body, html {
  margin:0;
  font-size: 1em;
  line-height: 1.4;
  color: #34495E;
  cursor:default;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
body {
  background: grey;
}
a {
  color:inherit;
  text-decoration: none;
 }
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
#hire {
    position: fixed;
    top:10px;
    right:10px;
    border: 1px solid white;
    padding:10px 30px;
    border-radius: 3px;
    transition:.5s;
}
#hire:hover {
    background: #1abc9c;
    border: #1abc9c 1px solid;
}
#nav_bar {
    height:100px;
    width:100%;
    margin-top:-5px;
}
.navbar-fixed {
    position: fixed;
    top:5px;
    z-index:100;
    width:100%;
}
#header {
  position:relative;
  background:white;
  height:100%;
  width:100%;
}
#hdr {
  height:100%;
  width:150px;
  background:#3498DB;
  position:absolute;
  left:0px;
  transition:.5s;
}
#hdr:hover {
  background:white;
}
#initials:hover {
  transition-property: color;
  transition-duration: .5s;
  color:#3498DB;
}
#hdr_title {
  height:50px;
  text-align:center;
  font-size:2.3em;
  position:absolute;
  padding-top:23px;
  left:180px;
}
#initials {
  font-size:2.3em;
  font-weight:300;
  padding-top:23px;
  color:#3498DB;
  width:100%;
  height:100%;
  text-align:center;
  transition:.7s;
  color:white;
}
.menu_icon {
  position:absolute;
  right:0px;
  display:none;
  height:24px;
  padding:8px;
  margin:5px;
  border-radius:4px;
}
.menu_icon:hover {
  background:#ECF0F1;
}
.clearnav {
    width:100%;
    margin-left:30px;
}
.clearmenu {
    position: relative;
    text-align:center;
    padding-top:21px;
    margin-right:30px;
    float:left;
    transition:.3s;
    color: rgba(255,255,255,0.5);
}
.clearmenu:hover {
    color: rgba(255,255,255,1);
}
.menu {
  text-align:center;
  padding-top:38px;
  margin-right:30px;
  float:right;
  transition:.3s;
}
.menu:hover {
  color:#3498DB;
  transition:.3s;
}
.mobile_menu {
  position:absolute;
  display:none;
  right:0px;
  top:50px;
  background:white;
}
.m_menu {
  text-align:center;
  font-weight:300;
  padding:10px 20px;

}
.m_menu:hover {
  background:#3498DB;
  color:white;
}
#main {
  position:fixed;
  top:0px;
}
.key {
  width:110%;
  z-index:-50;
}
#first_box {
  position:relative;
  display:inline-block;
  width:100%;
  background:rgba(0,0,0,.5);
  color:white;
}
#first_box:after {
    padding-top: 65%;
    display: block;
    content: '';
}
#welcomebox {
  position:absolute;
  width:100%;
  height:100%;
}
#welcome {
  margin-top:20%;
  text-align:center;
  font-weight:300;
  font-size:4em;
  color:rgba(255,255,255,0.9);
}
#buttonbox {
  width:300px;
  margin:0px auto;
  position:relative;
}
.desk {
  text-align:center;
  color:rgba(255,255,255,0.9);
  margin-bottom:40px;
}
.download {
  position:absolute;
  left:0px;
  text-align:center;
  width:100px;
  padding:15px;
  background: rgba(52,152,219,0.6);
  border-radius:5px;
  transition:.5s;
}
.download2 {
  position: absolute;
  right:0px;
  text-align:center;
  width:100px;
  padding:15px;
  background: rgba(52,152,219,0.6);
  border-radius:5px;
  transition:.5s;

}
.download3 {
  text-align:center;
  margin: 50px auto;
  width:100px;
  padding:15px;
  background: #3498DB;
  border-radius:5px;
  color:white;
}
.download:hover, .download2:hover, .download3:hover {
  cursor:pointer;
  background: rgba(52,152,219,1);
  transistion:.5s;
}
.container {
  margin-top:0px;
  position:relative;
  width:100%;
}
.container:after{

}
#aboutbox {
  background:white;
  padding-top:50px;
  padding-bottom:70px;
}
#aboutbox:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 10;
}
a.a_top {
  position: relative;
  top:-100px;
  display: block;
  height: 0;
  width:0;

}
#box3, #box2048, #boxtyrant, #boxdata, #boxninth {
  background:#3498DB;
  padding-bottom:70px;
  color:white;
}
#box2048 {
  display:none;
  background:#e67e22;
}
#box2048:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #e67e22;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 10;
}
#boxdata {
  display:none;
  background:#9b59b6;
}
#boxdata:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #9b59b6;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 10;
}
#boxninth {
  display:none;
  background:#e74c3c;
}
#boxninth:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #e74c3c;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 10;
}
#boxtyrant {
  display:none;
  background:#2ecc71;
}
#boxtyrant:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #2ecc71;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 10;
}
#box3:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #3498DB;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 10;
}
#box4 {
  background:#7F8C8D;
  padding-bottom:70px;
  color:white;
}
#about {
  text-align:center;
  font-size:300%;
  padding:50px 0px;
  font-weight:300;
}
#contacts {
  text-align:center;
  font-size:300%;
  padding:50px 0px 20px 0px;
  font-weight:300;
}
hr {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid #8b8b8b;
  margin: 0 auto 50px auto;
  max-width: 400px;
  position: relative;
  display: block;
}
hr:after {
  position: absolute;
  width: 11px;
  height: 11px;
  content: "";
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background-color: #8b8b8b;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.text {
  text-align:center;
  margin:0px 20px;
}
.text1 {
  float:left;
  text-align:center;
  width:100%;
  margin-top:-30px;
}
#expbox {
  background:#34495E;
  color:white;
  padding-bottom:70px;
}
#expbox:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #34495E;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 20;
}
#desbox {
    background:#1abc9c;
    color:white;
    padding-bottom:70px;
}
#desbox:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #1abc9c;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  left: 50%;
  margin-left:-20px;
  bottom: -14px;
  z-index: 20;
}
#exp {
  text-align:center;
  font-size:300%;
  padding:50px 0px;
  font-weight:300;
}
.jobbox {
  background:#34495E;
  padding:0px 30px;
  margin:20px auto;
  border-radius:3px;
  transition:.7s;
}
.projbox {
  background:#3498DB;
  padding:0px 30px;
  margin:20px auto;
  transition:.7s;
}
.jobbox:hover {
  background:#3498DB;
}
.projbox:hover {
  background:#34495E;
}
.jobinfo, .projinfo {
  display:none;
}
.job, .proj {
  height:90px;
}

.left {
  float:left;
  width:50%;
}
.right {
  float:left;
  width:50%;
}
.more1, .more2, .more3, .more4 {
  padding:10px;
  width:50px;
  background:red;
  border-radius:5px;
  margin:auto;
  background:#3498DB;
  text-align:center;
  transition:.5s;
}
.more1:hover, .more2:hover, .more3:hover, .more4:hover {
  transition:.5s;
  color:#3498DB;
  background:white;
}
.less1, .less2, .less3, .less4 {
  padding:10px;
  width:60px;
  background:red;
  border-radius:5px;
  margin:auto;
  background:#27ae60;
  color:white;
  transition:.5s;
  text-align: center;
  transition:.5s;
}
.less1:hover, .less2:hover, .less3:hover, .less4:hover {
  transition:.5s;
  color:#27ae60;
  background:white;
}
.less2 {
  background:#d35400;
  color:white;
}
.less2:hover {
  color:#d35400;
  background:white;
}
.less3 {
  color:white;
  background:#8e44ad;
}
.less3:hover {
  background:white;
  color:#8e44ad;
}
.less4 {
  background:#c0392b;
  color:white;
}
.less4:hover {
  background:white;
  color:#c0392b;
}
.buttonrow {
  width:210px;
  margin:auto;
}
.facebook, .vidbutton {
  margin:auto;
  background:#c0392b;
  color:white;
  width:100px;
  padding:10px 0px;
  border-radius:5px;
  text-align:center;
  display:inline-block;
  transition:.5s;
}
.facebook:hover, .vidbutton:hover {
  background:white;
  color:#c0392b;
}
.video {
  width:100%;
  display:none;
}

.midvid {
  width:560px;
  margin:auto;
}
.self {
  width:200px;
  margin:auto;
}
.selfpic {
  width:200px;
  border-radius:200px;
  border:3px solid white;
  transition:.5s;
}
.selfpic:hover {
  width:200px;
  border-radius:3px;
  border:3px solid white;
}
.social {
  height:40px;
  display:inline-block;
}
.counter {
    display: none;
}
#footer {
    background:#ECF0F1;
    padding-bottom:20px;
    color:#7F8C8D;
}
.resume {
    position:absolute;
    color:#2c3e50;
    padding:100px 50px;
    background:white;
    border-radius:5px;
}
.r_title {
    text-align:center;
    font-size:200%;
}
@media (max-width: 1800px) {
    #nav_bar {
        height:50px;
    }
    #hdr {
        width:100px;
    }
    #initials {
        padding-top:7px;
        font-size:150%;
    }
    #hdr_title {
        font-size:1em;
        padding-top:13px;
        left:120px;
    }
    .menu {
        padding-top:13px;
    }
    a.a_top {
        position: relative;
        top:-50px;
        display: block;
        height: 0;
        width:0;
    }
    #resume {
        margin-top:50px;
    }

}
@media (max-width: 780px) {
    .desk {
        display:none;
    }
    .menu {
        display:none;
    }
    .hide {
        display:none;
    }
    .menu_icon{
        display:block;
    }
    #buttonbox {
        margin-top:-25px;
    }
    .text1 {
        float:none;
    }
    .left {
        float:none;
        width:100%;
    }
    .right {
        float:none;
        width:100%;
    }

}
@media (max-width: 500px) {
    .job, .proj {
        height:75px;
    }
    .key {
        display: none;
    }

}
